//sass --watch sass:public/css --style compressed
@import '_vars';
@import 'modules/_header';
@import 'modules/_hero';
@import 'modules/_about';
@import 'modules/_destin';
@import 'modules/_footer';
@import 'modules/_subscription';
@import 'modules/_error';

/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body {
    @include copy-font;
}

h1, h2 {
    @include heading-font;
}

a {
    color: $blue;
    text-decoration: none;
}

li {
    list-style: none;
}

