.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    .about-p {
        padding: 20px;
        li {
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width:767px) {
    .about-p {
        padding: 40px !important;
        li {
            margin-bottom: 20px !important;
        }
    }
}