footer {
    background-color: $blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 40px;
    p {
        @include copy-font;
        color: $white;
        font-size: 1em;
        margin-top: 20px;
    }
}

.f-social-media {
    display: flex;
    li:nth-child(2) {
        margin-left: 10px;
    }
    li:nth-child(3) {
        margin-left: 10px;
    }
    i {
        color: $white;
        font-size: 1.3em;
    }
}