.subscription {
    position: fixed;
    // width: 100%;
    display: flex;
    flex-direction: column;
    // height: 300px;
    height: 100vh;
    // top: 0;
    left: 0;
    right: 0;
    // margin-top: 80px;
    z-index: 4;
    padding: 30px;
    background: url("../../public/images/sub_ocean.jpg") no-repeat center;
    background-size: cover;
    justify-content: center;
    #subExit {
        // position: absolute;
        // width: 10%;
        // right: 0;
        // margin-top: 2%;
        // margin-right: 2%;
        margin-left: auto;
        margin-bottom: auto;
    }
    #subHead {
        font-size: 28px;
        text-align: center;
        color: $white;
        z-index: 6;
        margin-bottom: 20px;

    }
    form {
        display: flex;
        flex-direction: column;
        // border: solid 3px #0F323D;
        z-index: 7;
        margin-bottom: auto;

        .input-wrap {
            display: flex;
            flex: 1;
            margin-bottom: 20px;
            flex-direction: column;
        }

        label {
            flex: 1;
            color: $white;
            background-color: $blue;
            font-size: 15px;
            padding: 5px;
        }
        input {
            flex: 3;
            font-size: 15px;
            padding: 5px;
            // margin-left: -5px;
            background-color: $white;
            color: $blue;
        }
        #country {
            flex: 3;
            display: flex;
            min-width: 50%;
            border-radius: 0%;
        }
        #submit {
            @include heading-font;
            font-size: 15px !important;
            background-color: $orange;
            color: $white;
            border: none;
            padding-top: 8px;
            padding-bottom: 8px;
        }
    }
}

@media screen and (min-width: 670px) {
    .subscription {
        form {
            padding: 40px 100px;
            .input-wrap {
                flex-direction: row;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .subscription {
        #subExit {
            margin-left: auto;
            margin-bottom: auto;
        }
        #subHead {
            font-size: 35px;
        }
        form {
            label {
                flex: 1;
                letter-spacing: 2px;
                font-size: 15px;
                padding: 15px 5px 15px 15px;
            }
            input {
                font-size: 20px;
            }
            #submit {
                font-size: 18px;
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}
@media screen and (min-width: 920px) {
    .subscription {
        #subHead {
            font-size: 45px;
        }
        form {
            width: 790px;
            margin-left: auto;
            margin-right: auto;
            label {
                flex: 1;
                letter-spacing: 2px;
                font-size: 15px;
                padding: 15px 5px 15px 15px;
            }
            input {
                font-size: 20px;
            }
            #submit {
                font-size: 18px;
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }
}